<header class="header">
  <div class="header__logo">
    <img class="header__logoImg"src="assets/img/logo.png" alt="logo soranim avec caractère japonais"/>
  </div>
  <nav class="header__navbar navbar">
    <ul class="header__navbarList">
      <li><a>Accueil</a></li>
      <li><a>Nouveautés</a></li>
      <li><a>Catégories</a></li>
      <li><a>Ma liste</a></li>
    </ul>
  </nav>
  <div class="header__account">
    <a>Mon compte</a>
  </div>
</header>