<header class="header">
  <div class="header__logo">
    <img class="header__logoImg"src="assets/img/logo.png" alt="logo soranim avec caractère japonais"/>
  </div>
  <div class="header__logIn">
    <button name 4="logIn"><a href="">Se connecter</a></button>
  </div>
</header>