main.main 
    section.main__firstSection.firstSection
        h1.firstSection__title NARURO SHIPPUDEN
        p Toute les saisons disponible dès maintenant
        .firstSection__buttons
            button.firstSection__watch Regarder
            button.firstSection__list + Ma liste

    section.main__new.new
        .new__top.top
            h2.top__title Nouveautés
            .top__more
                p.texte  Voir plus

        .new__list
            img.new__poster(src="../assets/img/Nouveauté/Fate_Stay_Night.png")
            img.new__poster(src="../assets/img/Nouveauté/Love_is_War.png")
            img.new__poster(src="../assets/img/Nouveauté/Demon_Slayer.png")
            img.new__poster(src="../assets/img/Nouveauté/Attack_on_Titans.png")

    section.main__top10.top10
        .top10__top.top
            h2.top__title Top 10
            .top__more
                p.texte  Voir plus

        .top10__list
            img.new__poster(src="../assets/img/Top10/Naruto.png")
            img.new__poster(src="../assets/img/Top10/Code_Geass.png")
            img.new__poster(src="../assets/img/Top10/Samurai_Champloo.png")
            img.new__poster(src="../assets/img/Top10/Le_château_ambulant.png")   
            img.new__poster(src="../assets/img/Top10/Princesse_Mononoke.png")

    section.main__shonen.shonen
        .shonen__top.top
            h2.top__title Shonen
            .top__more
                p.texte  Voir plus

        .shonen__list
            img.new__poster(src="../assets/img/Shonen/Jojos_bizarre_adventure.png")
            img.new__poster(src="../assets/img/Shonen/Naruto.png")
            img.new__poster(src="../assets/img/Shonen/Inazuma_eleven.png")
            img.new__poster(src="../assets/img/Shonen/Yu_Gi_Ho.png")   
            img.new__poster(src="../assets/img/Shonen/Le_château_ambulant.png")

    section.main__Shojo.Shojo
        .Shojo__top.top
            h2.top__title Shojo
            .top__more
                p.texte  Voir plus

        .Shojo__list
            img.new__poster(src="../assets/img/Shojo/Black_butler.png")
            img.new__poster(src="../assets/img/Shojo/Vampire_diaries.png")
            img.new__poster(src="../assets/img/Shojo/Sawako.png")
            img.new__poster(src="../assets/img/Shojo/Karakai_Jouzo_no_Takagi-san.png")   
            img.new__poster(src="../assets/img/Shojo/Anonyme_shonen.png")
    
    section.main__Seinen.Seinen
        .Seinen__top.top
            h2.top__title Seinen
            .top__more
                p.texte  Voir plus

        .Seinen__list
            img.new__poster(src="../assets/img/Seinen/Hellsing.png")
            img.new__poster(src="../assets/img/Seinen/Neon_genesis_evangelion.png")
            img.new__poster(src="../assets/img/Seinen/Steins_gate.png")
            img.new__poster(src="../assets/img/Seinen/Death_note.png")   
            img.new__poster(src="../assets/img/Seinen/Gantz.png")

    section.main__filmAnimation.filmAnimation
        .filmAnimation__top.top
            h2.top__title Film d'animation
            .top__more
                p.texte  Voir plus

        .filmAnimation__list
            img.new__poster(src="../assets/img/Film/Naruto_the_last.png")
            img.new__poster(src="../assets/img/Film/Fairy_tail_dragon_cry.png")
            img.new__poster(src="../assets/img/Film/Dragon_ball_Z_battle_of gods.png")
            img.new__poster(src="../assets/img/Film/Le_tombeau_des_lucioles.png")   
            img.new__poster(src="../assets/img/Film/Le_garçon_et_la_bête.png")