<a class="retour" href="home.pug">
  <svg width="12" height="19" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M4.00633 9.01567L11.0188 16.0282L9.01567 18.0313L0 9.01567L9.01567 0L11.0188 2.00317L4.00633 9.01567Z" fill="#535353"/>
  </svg> 
  <p class="retour__text">Retour</p>
</a>