<section class="synopsis" id="synopsis">
  <img class="synopsis__img"  src="assets/img/Homepage/Top10/Naruto-synopsis.jpg" height="342px" width="700px">
  <div class="synopsis__text" width="50vw">
    <div class="synopsis__titlecross">
    <h1 class="synopsis__title"></h1>
    <img src="assets/img/Kylian/cross.png" class="synopsis__cross" id="cross"width="20px" height="20px">
    </div>
    <p class="synopsis__body" > </p>
    <div class="synopsis__buttons">
      <button class="more">VOIR PLUS</button>
      <button class="more">BANDE ANNONCE</button>
    </div>
  </div>
</section>
