body {
  font-family: Helvetica;
}

.bigtitle{
  display:flex;
}
.maintitle {
  font-size: var(--main-h1);
  font-weight: bold;
  font-family: Arial;
  margin-left: 10vw;
  margin-top:40px;
}

.retour{
  display: flex;
  margin-left: 10px;
  margin-top: 20px;
  font-weight: bold;
  color: #535353;
  align-items: center;
}

.retourtitle{
  margin-left: 10px;
}
.underline{
  border-bottom:solid;
  width:700px;
  border-width: medium;
}

.allinfo {
  font-size: var(--main-fontSize);
  text-align: left;
  margin-left: 20vw;
  margin-right: 20vw;
}

.infosperso {
  display: flex;
  justify-content: space-around;
}

.title {
  font-size: 20px;
  font-weight: medium;
}

.modifier {
  padding: 5px;
  background-color: #1b9aaa;
  width: 130px;
  height: 30px;
  color: white;
  border-radius: 4px;
}

.description {
  text-align: left;
  margin-right: 30px;
}

.block {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.forfait {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.profils {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.allprofilsdescription {
  display: flex;
}

.profilsdescription {
  margin-right: 50px;
  display: flex;
  align-items: flex-end;
  p{
    margin-bottom: 5px;
  }
  .supprimer{
    color: #397294;
  }
}

.continue {
  display: flex;
  justify-content: space-around;
  border: solid 1px #397294;
  color:#397294 ;
  padding: 5px;
  margin-left: 82vw;
  width: 180px;
  height: 34px;
  background: white;
  border-radius: 2px;
  margin-bottom: 100px;
  position: relative;
  font-weight: bold;
  margin-top: 40px;
}

.card{
  display: flex;
  align-items: center;
}