.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  font-family: helvetica;

  &__navbarList {
    display: flex;

    li {
      margin-right: 5rem;
    }
  }

  &__account {
    padding-right: 2rem;
  }
  &__logIn {
    padding-right: 2rem;

    button {
      border: #1b9aaa solid 1px;
      border-radius: 2px;
      padding: 0.3rem 1rem;

      a {
        text-decoration: none;
        color: #1b9aaa;
      }
    }
  }
}
