.homeBody {
  font-family: helvetica;
}

.firstSection {
  width: 90vw;
  position: relative;
  margin-bottom: 5vh;
  &__picture {
    width: 100%;
    height: 550px;
    box-shadow: var(--main-shadow);
    border-radius: none;

    width: 99vw;
    height: 90vh;
  }
  &__logo {
    width: 20rem;
  }
  &__wrapper {
    position: absolute;
    bottom: 10vh;
    left: 5vw;
  }
  &__title {
    color: white;
    font-size: var(--main-h1);
    text-shadow: var(--main-fontSize);
  }
  p {
    color: white;
    font-size: var(--main-fontSize);
    margin: 2vh 0 2vh 0;
  }
  &__buttons {
    button {
      margin-right: 2vw;
      background-color: #2c698d;
      font-size: var(--main-fontSize);
      border: none;
      color: white;
      width: 140px;
      height: 30px;
      a{
        text-decoration: none;
        color:white;
      }
    }
  }
  a {
    cursor: pointer;
  }
}

.new {
  width: 90vw;
  margin: auto;
  padding-bottom: 3rem;
  margin-bottom: 3vh;
  border-bottom: solid 2px #dddddd;

  a {
    cursor: pointer;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
  }
  &__title {
    font-size: var(--main-h2);
  }
  &__more {
    font-size: var(--main-fontSize);
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  img {
    cursor: pointer;
    transition: transform 0.2s ease-out;
    &:hover {
      transform: scale(1.2);
      opacity: 0.8;
    }
  }
  a {
    color: inherit;
    text-decoration: none;
    position: relative;
    background-size: 0 100%;
    background: linear-gradient(
        to top,
        #2c698d 0,
        #2c698d 10%,
        transparent 10.01%
      )
      no-repeat;
    transition: background-size 0.3s;
    background-size: 0 100%;
    padding-bottom: 8px;
  }
  a:hover {
    background-size: 100% 100%;
  }
}

.cat {
  margin-bottom: 3vh;
  margin-top: 2rem;

  a {
    cursor: pointer;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
  }
  &__title {
    font-size: var(--main-h2);
    padding-left: 5vw;
  }
  &__more {
    font-size: var(--main-fontSize);
    margin-right: 5vw;
  }
  &__list {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 5vw;
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    overflow-x: auto;

    img {
      width: 270px;
      border-radius: 5px;
      margin-right: 10px;
      cursor: pointer;
      transition: transform 0.2s ease-out;
      margin-right: 1rem;
      &:hover {
        transform: scale(1.2);
        opacity: 0.8;
      }
    }
  }
  a {
    color: inherit;
    text-decoration: none;
    position: relative;
    background-size: 0 100%;
    background: linear-gradient(
        to top,
        #2c698d 0,
        #2c698d 10%,
        transparent 10.01%
      )
      no-repeat;
    transition: background-size 0.3s;
    background-size: 0 100%;
    padding-bottom: 8px;
  }
  a:hover {
    background-size: 100% 100%;
  }
}

.rightArrow {
  margin-bottom: -2px;
}
