.firstSection{
    width: 90vw;
    margin:auto;
    position: relative;
    margin-bottom: 5vh;
    &__picture{
        width:100%;
        height:550px;
        box-shadow: var(--main-shadow);
        border-radius: 30px;
    }
    &__wrapper{
        position: absolute;
        top:2vh;
        left: 5vw;
    }
    &__title{
        color: white;
        font-size: var(--main-h1);
        text-shadow: var(--main-fontSize);
    }
    p{
        color: white;
        font-size: var(--main-fontSize);
        margin: 2vh 0 2vh 0;
    }
    &__buttons{
        button{
            margin-right: 2vw;
            background-color: #2C698D;
            font-size: var(--main-fontSize);
            border: none;
            color: white;
            width: 140px;
            height: 30px;
        }
    }
    &__logo{
        width:50%;
    }
  }

.new{
    margin-bottom: 3vh;
    &__top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 3vh;
    }
    &__title{
        font-size: var(--main-h2);
        padding-left:5vw;
    }
    &__more{
        font-size: var(--main-fontSize);
        margin-right: 5vw;
    }
    &__list{
        padding-top:2em;
        padding-bottom:2em;
        padding-left:5vw;
        display:flex;
        justify-content: space-between;
        overflow: hidden;
    }
    img{
        cursor: pointer;
        transition: transform 0.2s ease-out;
        margin-right:5px;
        &:hover {
            transform: scale(1.2);
        }
    }
    a { 
        color: inherit;
        text-decoration: none;
        position: relative;
        background-size: 0 100%;
        background: linear-gradient(to top,#2C698D 0, #2C698D 10%, transparent 10.01%) no-repeat;
        transition: background-size .3s;
        background-size: 0 100%;
        padding-bottom: 8px;
    }
    a:hover {
        background-size: 100% 100%;
    }
}

.cat{
    margin-bottom: 3vh;
    &__top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 3vh;
    }
    &__title{
        font-size: var(--main-h2);
        padding-left:5vw;
    }
    &__more{
        font-size: var(--main-fontSize);
        margin-right: 5vw;
    }
    &__list{
        padding-top:1em;
        padding-bottom:1em;
        padding-left:5vw;
        display: flex;
        overflow: hidden;
        img{
            cursor: pointer;
            transition: transform 0.2s ease-out;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    a { 
        color: inherit;
        text-decoration: none;
        position: relative;
        background-size: 0 100%;
        background: linear-gradient(to top,#2C698D 0, #2C698D 10%, transparent 10.01%) no-repeat;
        transition: background-size .3s;
        background-size: 0 100%;
        padding-bottom: 8px;
    }
    a:hover {
        background-size: 100% 100%;
    }
}