.landingPage {
  display: flex;
}

.register {
  padding-top: 1rem;
  font-family: helvetica;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: var(--main-h1);
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: var(--main-blue);
    font-weight: bold;
  }
  &__login {
    margin-top: 1rem;
    .loginButton {
      background-color: #fff;
      border-radius: 4px;
      padding: 0.2rem 1rem;
      border: solid 0.5px var(--main-blue);

      a {
        text-decoration: none;
        color: var(--main-blue);
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__group {
    display: flex;
    flex-direction: column;

    font-size: var(--main-fontSize);

    input {
      margin-top: 1rem;
      border-radius: 4px;
      border: solid 0.5px var(--main-blue);
      padding: 0.5rem 8rem 0.5rem 0.5rem;
    }
    input[placeholder] {
      color: #3e3e3e;
      font-size: var(--main-fontSize);
    }
    label {
      margin-top: 1rem;
      font-weight: bold;
      text-align: left;
    }
  }
  &__submit {
    margin-top: 1rem;
    button {
      padding: 0.5rem 2rem;
      background-color: #fcad51;
      color: white;
      font-size: var(--main-fontSize);
      border-radius: 4px;
      border: none;
    }
  }
  &__ccg {
    display: flex;
    justify-content: center;
    padding: 1rem 0;

    input {
      margin-right: 0.5rem;
    }

    label {
      font-size: 12px;
      color: #3e3e3e;
    }
  }
}

.illustration {
  width: 50vw;
  height: 100vh;
  background-image: url(../assets/img/pony-tailleft.png);
  background-repeat: no-repeat;

  &__logo {
    margin-top: 1rem;
  }
}
