.landingPage {
  background-image: url(../assets/img/background-landing.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.formLanding {
  display: flex;
  justify-content: center;
}

.headerLanding {
  padding: 1rem;
}
