html {
    scroll-behavior: smooth;
}
.wrapper{
    display:grid;
    grid-template-columns: repeat(2,100%);

    section{
        width:100%;
        height:100px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(10, auto);
        margin:20px 0;

        .item{
            transition: 250ms;

            &:hover{
            margin:0 40px;
            transform: scale(1.2);
        }
    }
        a {
            position: absolute;
            color: #fff;
            text-decoration: none;
            font-size: 6em;
            background:rgb(0,0,0);
            width: 80px;
            padding: 20px;
            text-align: center;
            z-index: 1;

            &:nth-of-type(1) {
                top:0; bottom:0; left:0;
                background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
              }
              &:nth-of-type(2) {
                top:0; bottom:0; right: 0;
                background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
              }
              
        }
    }
}