.shonen_title {
  font-size: 36px;
  font-weight: bold;
  margin-left: 100px;
  margin-bottom: 100px;
}

.shonen {
  display: grid;
  grid-template-columns: 1150px; 
  justify-content: center;
  &__img{
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-out;
    margin-bottom: 20px;

    &:hover {
      transform: scale(1.2);
      opacity: 0.8;
    }
}
  }


