.synopsis{
  display: flex;
  flex-direction: row;
  background-color: white;
  transition: height 0.5s, width 0.5s,left 0.5s, bottom 0.5s;
  padding-bottom: 40px;
  margin-left:100px;
}

.synopsis__img{
  margin:5px;
}
.synopsis__text{
  margin-left: 5vw;
  margin-right: 10vw;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.synopsis__titlecross{
  display: flex;
  justify-content: space-between;
}

.synopsis__title{
  font-size: var(--main-h1);
  margin-bottom: 20px;
}
.synopsis__cross{
  cursor: pointer;
}

.close{
  transform: translate(calc(-50vh + 40px), calc(50vh - 40px)) scale(0);
  transition : transform 2s, opacity 0.3s;
  position: absolute;
  top: -9999px;
  left: -9999px;  
}

.more {
  padding: 5px;
  background-color: var(--main-blue);
  width: 130px;
  height: 30px;
  color: white;
  border-radius: 4px;
  border: none;
  margin-right: 1rem;
}


.synopsis__buttons{
  display: flex;
  margin-top: 40px;

}
