.synopsis{
  display: flex;
  flex-direction: row;
  background-color: white;
  transition: height 0.5s, width 0.5s,left 0.5s, bottom 0.5s;
  
}
.synopsis__img{
  margin:5px;
}
.synopsis__text{
  margin-left: 5vw;
  margin-right: 10vw;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.synopsis__title{
  font-size: var(--main-h1);
  margin-bottom: 20px;
}

.close{
  transform: translate(calc(-50vh + 40px), calc(50vh - 40px)) scale(0);
  opacity: 0;
  transition : transform 2s, opacity 0.3s;
}

.more {
  padding: 5px;
  background-color: #1b9aaa;
  width: 130px;
  height: 30px;
  color: white;
  border-radius: 4px;
}

.synopsis__buttons{
  display: flex;
  margin-top: 40px;
}