<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.scss">
    <title>soranime</title>
</head>
<body> 
    include includes/header.pug
    <h1 class="films__title"> Film d'animation </h1>
    
    <section class="films"> 
        <article class='films__posters'>
            <a href="#"><img class="films__posters__img" id="film" src="assets/img/Film/A_silent_voice.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Akira.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Albator.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Fairy_Tail_film.png"></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Ghost_in_the_shell.png"></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Le_chateau_ambulant.png"></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Le_garçon_et_la_bête.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Le_tombeau_des_lucioles.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Le_vent_se_lève.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Le_voyage_de_Chihiro.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Les_chevaliers_du_zodiaque.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Les_comptes_de_Terremer.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Mon_voisin_Totoro.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Enfant_du_temps.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/The_Last_Film.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Nausicaa.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/NinoKuni.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Princesse_Mononoké.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/DBZ_Film.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Seven_deadly_sins.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Your_name.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Si_tu_tend_l_oreille.png"/></a>
        </article>
    </section>
    include includes/footer.pug
    </body>
</html>
script(src="/JavaScript/synopsis.js")