<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.scss">
    <title>soranime</title>
</head>
<body> 
    include includes/header.pug
    <h1 class="films__title"> Film d'animation </h1>
    
    <section class="films"> 
        <article class='films__posters'>
            <a href="#"><img class="films__posters__img" id="film" src="assets/img/Film/A_silent_voice.png"/></a>
            <section class="synopsis" id="synopsis">
            <img class="synopsis__img" src="assets/img/Kylian/silentvoice.png" height="342px" width="700px">
            <div class="synopsis__text" width="50vw">
                <div class="synopsis__titlecross">
                <h1 class="synopsis__title">A Silent voice</h1>
                <img src="assets/img/Kylian/cross.png" class="synopsis__cross" id="cross"width="20px" height="20px">
                </div>
                <p class="synopsis__body">Nishimiya est une élève douce et attentionnée. Chaque jour, pourtant, elle est harcelée par Ishida, car elle est sourde. Dénoncé pour son comportement, le garçon est à son tour mis à l'écart et rejeté par ses camarades. Des années plus tard, il apprend la langue des signes... et part à la recherche de la jeune fille. </p>
                <div class="synopsis__buttons">
                    <button class="more">VOIR PLUS</button>
                    <button class="more">BANDE ANNONCE</button>
                </div>
            </div>
            </section>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Akira.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Albator.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Fairy_Tail_film.png"></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Ghost_in_the_shell.png"></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Le_chateau_ambulant.png"></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Le_garçon_et_la_bête.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Le_tombeau_des_lucioles.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Le_vent_se_lève.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Le_voyage_de_Chihiro.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Les_chevaliers_du_zodiaque.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Les_comptes_de_Terremer.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Mon_voisin_Totoro.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Princesse_Mononoké.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/The_Last_Film.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Nausicaa.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/NinoKuni.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Princesse_Mononoké.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Les_comptes_de_Terremer.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Seven_deadly_sins.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Your_name.png"/></a>
            <a href="#"><img class="films__posters__img" src="assets/img/Film/Si_tu_tend_l_oreille.png"/></a>
        </article>
    </section>
    include includes/footer.pug
    </body>
</html>
script(src="/JavaScript/synopsis.js")