<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.scss" />
    <title>Soranime</title>
  </head>
  <body>
  include includes/header.pug
  main.main 
    section.main__firstSection.firstSection
        img.firstSection__picture(src="assets/img/bc_first_section.png")
        .firstSection__wrapper
            h1.firstSection__title NARUTO SHIPPUDEN
            p Toute les saisons disponible dès maintenant
            .firstSection__buttons
                button Regarder
                button + Ma liste

    section.main__new.new
        .new__top.top
            h2.new__title Nouveautés
            .new__more
                p.texte  Voir plus >

        .new__list
            img.new__poster(src="assets/img/Nouveauté/Fate_Stay_Night.png")
            img.new__poster(src="assets/img/Nouveauté/Love_is_War.png")
            img.new__poster(src="assets/img/Nouveauté/Demon_Slayer.png")
            img.new__poster(src="assets/img/Nouveauté/Attack_on_Titans.png")

    section.main__cat.cat
        .cat__top.top
            h2.cat__title Top 10
            .cat__more
                p.texte  Voir plus >

        .cat__list
            img(src="assets/img/Top10/Naruto.png")
            img(src="assets/img/Top10/Code_Geass.png")
            img(src="assets/img/Top10/Samurai_Champloo.png")
            img(src="assets/img/Top10/Le_château_ambulant.png") 
            img(src="assets/img/Top10/Princesse_Mononoke.png")

    section.main__cat.cat
        .cat__top.top
            <h2 class="cat__title"><a class="cat__link" href="shonen.pug">Shonen</a></h2>
            .cat__more
            
                <a href="shonen.pug">  Voir plus ></a>

        .cat__list
            img.cat__poster(src="assets/img/Shonen/Jojos_bizarre_adventure.png")
            img.cat__poster(src="assets/img/Shonen/Naruto.png")
            img.cat__poster(src="assets/img/Shonen/Inazuma_eleven.png")
            img.cat__poster(src="assets/img/Shonen/Yu_Gi_Ho.png")   
            img.cat__poster(src="assets/img/Shonen/Le_château_ambulant.png")

    section.main__cat.cat
        .cat__top.top
            h2.cat__title Shojo
            .cat__more
                p.texte  Voir plus >

        .cat__list
            img.cat__poster(src="assets/img/Shojo/Black_butler.png")
            img.cat__poster(src="assets/img/Shojo/Vampire_diaries.png")
            img.cat__poster(src="assets/img/Shojo/Sawako.png")
            img.cat__poster(src="assets/img/Shojo/Karakai_Jouzo_no_Takagi-san.png")   
            img.cat__poster(src="assets/img/Shojo/Anonyme_shonen.png")
    
    section.main__cat.cat
        .cat__top.top
            <h2 class="cat__title"><a href="seinen.pug">Seinen</a></h2>
            .cat__more

                <a href="seinen.pug">  Voir plus ></a>

        .cat__list
            img.cat__poster(src="assets/img/Seinen/Hellsing.png")
            img.cat__poster(src="assets/img/Seinen/Neon_genesis_evangelion.png")
            img.cat__poster(src="assets/img/Seinen/Steins_gate.png")
            img.cat__poster(src="assets/img/Seinen/Death_note.png")   
            img.cat__poster(src="assets/img/Seinen/Gantz.png")

    section.main__cat.cat
        .cat__top.top
            <h2 class="cat__title"><a href="films.pug">Film d'animation</a></h2>
            .cat__more

                <a href="films.pug">  Voir plus ></a>

        .cat__list
            img.cat__poster(src="assets/img/Film/Naruto_the_last.png")
            img.cat__poster(src="assets/img/Film/Fairy_tail_dragon_cry.png")
            img.cat__poster(src="assets/img/Film/Dragon_ball_Z_battle_of gods.png")
            img.cat__poster(src="assets/img/Film/Le_tombeau_des_lucioles.png")   
            img.cat__poster(src="assets/img/Film/Le_garçon_et_la_bête.png")

  include includes/footer.pug
  
  </body>
</html>
