<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.scss" />
    <title>Titre de l'anime</title>
  </head>
  <body>
    <video class="video" src=""></video>
    <div class="controller">
    <button class="play">Play / Pause</button>
    <button class="volume-down">-</button>
    <button class="volume-up">+</button>
    <button class="back">-10s</button>
    <button class="move">+10s</button>
    </div>
    <script src="./player.js"></script>
  </body>
</html>