<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video Player</title>



    <link rel="stylesheet" href="styles/style.scss">
</head>

<body>
    <div class="container">
        <div class="allVid">
        <a href="home.pug"><button class="return_btn"><img src="./assets/icones/left-arrow.svg" alt="retour"></button></a>
        <video  class="allVid__video"  autoplay>
        <source src="assets/videos/naruto-short-amv-cradles-amv.mp4"  class="allVid__source" type="video/mp4"> 
        </video>


        <div class="allVid__controls">
            <div class="allVid__controls__color-bar">
                <div class="allVid__controls__color-juice"></div>
            </div>

            <div class="buttons">
                <button class="buttons__back"><img src="./assets/icones/-10s.svg" alt="-10s"></button>
                <button id="buttons__play-pause"></button>
                <button class="buttons__move"><img src="./assets/icones/10s.svg" alt="+10s"></button>
                <button class="buttons__volume-down"><img src="./assets/icones/btn_moins.svg" alt="-"></button>
                <button class="buttons__volume-up"><img src="./assets/icones/btn_plus.svg" alt="+"></button>
                <button class="buttons_nextEp"><img src="./assets/icones/nextep.svg"></button>
                </div>
        </div>
    </div>

</div>



<script src="./Javascript/player.js"></script>
</body>