<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.scss">
    <title>soranime</title>
</head>
  <body>
  include includes/header.pug
    <section class="presentation">
      <img class="presentation__img" src="assets/img/Steins_gate_svg.png" alt="Steins_gate_svg">
      <article class="presentation__desc">
        <h1 class="presentation__desc__title">STEINS GATE</h1>
        <p class="presentation__desc__rec">Recommandé à 94%</p>
        <p class="presentation__desc__type">Drama / Sci-Fi - 2 saisons - 24 épisodes</p>
        <p class="presentation__desc__txt">L'histoire se déroule dans le quartier otaku d'Akihabara, et porte surun groupe d'amis qui ont transformé leur micro-ondes par inadvertance en dispositif pouvant envoyer des messages texte vers le passé. Dans le but de comprendre ce phénomène ils effectuent différentes expériences concernant le voyage dans le temps. Ils sont vite traqués par le centre de recherche CERN (ou SERN), qui réalise ses propres recherches sur les voyages temporels. Rintaro va donc utiliser la capacité du four à micro-ondes et se rendre rapidement compte que chaque modification du passé a un impact irréversible sur le présent, à cause de la théorie des mondes multiples.</p>
        <div class="presentation__desc__cta">
          <a href="#">
            <button class="presentation__desc__cta__button">Regarder</button></a>
          <article class="presentation__desc__fav">
            <img src="assets/icones/heart.svg" alt="#">
            <p>Ajouter aux favoris</p>
          </article>
        </div>
        <article class="presentation__ep">
          <a href="#"><p>Episode</p></a>
          <a href="#"><img src="assets/icones/bottom-arrow.svg" alt=""></a>
      </article>
      </article>
    
    </section>
    include includes/footer.pug
  </body>
</html>
