<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.scss" />
    <title>Soranime</title>
  </head>
  <body>
    <section class="btn_return">
      <img src=".jpg" alt="arrow_return"/>
      <p>Retour</p>
    </section>
    <section class="img_film">
      <img src=".jpg" alt="img_steins_gate"/>
    </section>
    <section class="title">
      <p>Steins Gate</p>
    </section>
    <section class="details_film">
      <div class="recommandation">
        <p>Recommandé à 94%</p>
      </div>
      <div class="episods">
        <p>Drama / Sci-Fi - 2 saisons - 24 épisodes</p>
      </div>
    </section>
    <section class="paragraph">
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget vulputate diam. Mauris tincidunt elit quis est gravida, sit amet elementum turpis finibus. Integer ultrices tristique ornare. Etiam ac purus at lorem dictum efficitur eu ac ligula. Nam sed mauris tristique, vulputate dui in, blandit sem. Vestibulum rhoncus sem sed neque varius scelerisque. Phasellus ut scelerisque mauris. Phasellus tincidunt sagittis quam ac ullamcorper. 
      </p>
    </section>
    <section class="cta">
      <div class="btn_regarder">
        <p>Regarder</p>
      </div>
      <div class="btn_favorite">
      <img src=".jpg" alt="heart_favorite"/>
        <p>Ajouter aux favoris</p>
      </div>
    </section>
    <section class="btn_episods">
      <p>Episodes</p>
      <img src=".jpg" alt="arrow_episods"/>
    </section>
  </body>
</html>