<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seinen</title>
  <link rel="stylesheet" href="styles/style.scss" />
</head>
<body>
  .wrapper
    section#section1
        <a href="#section2"><</a>
        .item
            img(src="assets/img/Film/Naruto_the_last.png")
        .item
            img(src="assets/img/Film/Fairy_tail_dragon_cry.png")
        .item
            img(src="assets/img/Film/Dragon_ball_Z_battle_of gods.png")
        .item
            img(src="assets/img/Film/Le_tombeau_des_lucioles.png")   
        .item
            img(src="assets/img/Film/Le_garçon_et_la_bête.png")
        <a href="#section2">></a>
    section#section2
        <a href="#section1"><</a>
        .item
            img(src="assets/img/Film/Naruto_the_last.png")
        .item
            img(src="assets/img/Film/Fairy_tail_dragon_cry.png")
        .item
            img(src="assets/img/Film/Dragon_ball_Z_battle_of gods.png")
        .item
            img(src="assets/img/Film/Le_tombeau_des_lucioles.png")   
        .item
            img(src="assets/img/Film/Le_garçon_et_la_bête.png")
        <a href="#section1">></a>
</body>
</html>