<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/style.scss">
  <title>Document</title>
</head>
<body>
  include includes/header.pug
  <h1 class="shonen_title">Shonen<h1>
  <section class="shonen">
    <article class="shonen__posters">

        <a href=""><img class="shonen__img" src="assets/img/shonen/Assasination_classroom.png"/> </a>

        <a href=""><img class="shonen__img" src="assets/img/shonen/Attack_on_Titants.png"/></a>

        <a href=""><img class="shonen__img" src="assets/img/shonen/Bleach.png"/></a>

        <a href=""><img class="shonen__img" src="assets/img/shonen/Blue_exorcist.png"/></a>

        <a href=""><img class="shonen__img" src="assets/img/shonen/Code_Geass.png"/></a>

        <a href=""><img class="shonen__img" src="assets/img/shonen/Death_note.png"/></a>

        <a href=""><img class="shonen__img" src="assets/img/shonen/Demon_slayer.png"/></a>

        <a href=""><img class="shonen__img" src="assets/img/shonen/Dragon_ball_Z.png"/></a>

        <a href=""><img class="shonen__img" src="assets/img/shonen/Fairy_tail.png"/></a>

        <a href=""><img class="shonen__img" src="assets/img/shonen/Full_metal_alchemist.png"/></a>

        <a href=""><img class="shonen__img" src="assets/img/shonen/Hunter_X_Hunter.png"/></a>

        <a href=""><img class="shonen__img" src="assets/img/shonen/Inazuma_eleven.png"/></a>

        <a href=""><img class="shonen__img" src="assets/img/shonen/Jojos_bizarre_adventure.png"/></a>

        <a href=""><img class="shonen__img" src="assets/img/shonen/Kuroko_no_basket.png"/></a>

        <a href=""><img class="shonen__img" src="assets/img/shonen/My_hero_acamedia.png"/></a>

        <a href=""><img class="shonen__img" src="assets/img/shonen/Naruto.png"/></a>

        <a href=""><img class="shonen__img" src="assets/img/shonen/One_Piece.png"/></a>

        <a href=""><img class="shonen__img" src="assets/img/shonen/One_punch_man.png"/></a>

        <a href=""><img class="shonen__img" src="assets/img/shonen/Parasite.png"/></a>

        <a href=""><img class="shonen__img" src="assets/img/shonen/Radiant.png"/></a>

        <a href=""><img class="shonen__img" src="assets/img/shonen/Samurai_champloo.png"/></a>

        <a href=""><img class="shonen__img" src="assets/img/shonen/Sword_art_online.png"/></a>

        <a href=""><img class="shonen__img" src="assets/img/shonen/The_seven_dedaly_sins.png"/></a>

        <a href=""><img class="shonen__img" src="assets/img/shonen/Yu_Gi_Ho.png"/></a>

  </article>
  </section>
</body>
include includes/footer.pug
</html>