<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/style.scss">
  <title>Document</title>
</head>
<body>

  include includes/header.pug

  <h1 class="shonen_title">Shonen<h1>
  <section class="shonen">
    <article class="shonen__posters">
      <a href=""><img class="shonen__img" src="assets/img/shonen/Assasination_classroom.png"/> </a>

      <a href=""><img class="shonen__img" src="assets/img/shonen/L_Attaque_des_Titans.png"/></a>

      <a href=""><img class="shonen__img" src="assets/img/shonen/Bleach.png"/></a>

      <a href=""><img class="shonen__img" src="assets/img/shonen/Blue_exorcist.png"/></a>

      <a href=""><img class="shonen__img" src="assets/img/Homepage/Top10/Code_geass.png"/></a>

      <a href=""><img class="shonen__img" src="assets/img/shonen/Death_note.png"/></a>

      <a href=""><img class="shonen__img" src="assets/img/shonen/DBZ.png"/></a>

      <a href=""><img class="shonen__img" src="assets/img/shonen/Fairy_tail.png"/></a>

      <a href=""><img class="shonen__img" src="assets/img/shonen/Full_metal.png"/></a>

      <a href=""><img class="shonen__img" src="assets/img/shonen/Hunter_X_Hunter.png"/></a>

      <a href=""><img class="shonen__img" src="assets/img/shonen/Inazuma_eleven.png"/></a>

      <a href=""><img class="shonen__img" src="assets/img/shonen/Jojo.png"/></a>

      <a href=""><img class="shonen__img" src="assets/img/shonen/Kuroko_basket.png"/></a>

      <a href=""><img class="shonen__img" src="assets/img/shonen/Boku_no_hero.png"/></a>

      <a href=""><img class="shonen__img" src="assets/img/shonen/Naruto.png"/></a>

      <a href=""><img class="shonen__img" src="assets/img/shonen/One_Piece.png"/></a>

      <a href=""><img class="shonen__img" src="assets/img/shonen/One_punch_man.png"/></a>

      <a href=""><img class="shonen__img" src="assets/img/shonen/Parasite.png"/></a>

      <a href=""><img class="shonen__img" src="assets/img/shonen/Radiant.png"/></a>

      <a href=""><img class="shonen__img" src="assets/img/Homepage/Top10/Samurai_Champloo.png"/></a>

      <a href=""><img class="shonen__img" src="assets/img/shonen/SAO.png"/></a>

      <a href=""><img class="shonen__img" src="assets/img/shonen/Seven_deadly_Sins.png"/></a>

      <a href=""><img class="shonen__img" src="assets/img/shonen/Yu_Gi_Oh.png"/></a>

  </article>
  </section>
</body>
include includes/footer.pug
</html>