<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.scss">
    <title>Soranime</title>
</head>
<body> 
    include includes/header.pug
    <h1 class="films__title"> Film d'animation </h1>
    <section class="films" id="film"> 
        <article class='films__1'>
            <a href="#"><img class="films__1__img" src="assets/img/Film/A_silent_voice_the_movie.png"/></a>
        </article>
    </section>
    <section class="synopsis" id="synopsis">
    <img class="synopsis__img" src="assets/img/Kylian/silentvoice.png" height="342px" width="700px">
    <div class="synopsis__text" width="50vw">
        <h1 class="synopsis__title">A Silent voice</h1>
        <p class="synopsis__body">Nishimiya est une élève douce et attentionnée. Chaque jour, pourtant, elle est harcelée par Ishida, car elle est sourde. Dénoncé pour son comportement, le garçon est à son tour mis à l'écart et rejeté par ses camarades. Des années plus tard, il apprend la langue des signes... et part à la recherche de la jeune fille. </p>
        
        <div class="synopsis__buttons">
            <button class="more">VOIR PLUS</button>
            <button class="more">BANDE ANNONCE</button>
        </div>
    </div>
    </section>
    include includes/footer.pug
    </body>
</html>
 script(src="/JavaScript/synopsis.js")
