<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.scss">
    <title>soranime</title>
</head>
  <body>
  include includes/header.pug
    <section class="presentation">

      <img class="presentation__img" src="assets/img/Episode/Naruto_présentation.png" alt="Naruto_pres">
      <article class="presentation__desc">
        <h1 class="presentation__desc__title">Naruto</h1>
        <p class="presentation__desc__rec">Recommandé à 94%</p>
        <p class="presentation__desc__type">Action/ Ninja - 21 saisons - 500 épisodes</p>
        <p class="presentation__desc__txt">Naruto est un garçon un peu spécial. Solitaire au caractère fougueux, il n'est pas des plus appréciés dans son village. Malgré cela, il garde au fond de lui une ambition: celle de devenir un "maître Hokage", la plus haute distinction dans l'ordre des ninjas, et ainsi obtenir la reconnaissance de ses pairs mais cela ne sera pas de tout repos ... Suivez l'éternel farceur dans sa quête du secret de sa naissance et de la conquête des fruits de son ambition !</p>

        <div class="presentation__desc__cta">
          <a href="#">
            <button class="presentation__desc__cta__button">Regarder</button></a>
          <article class="presentation__desc__fav">
            <img src="assets/icones/heart.svg" alt="#">
            <p>Ajouter aux favoris</p>
          </article>

        </div> 
      </article>
    
    </section>
    include includes/footer.pug
  </body>
</html>
